Repository deckhouse/deckhouse-test-2, pull requests merged in 2024-11, with the labels that each got.

#383 Backport: test commit
  README.md
Labels: auto, status/backport/success

#384 Backport: test commit
  README.md
Labels: auto, status/backport/success

#387 test commit
  .github/ci_development.md
Labels: status/backport

#391 Backport: test
  README.md
Labels: auto, backported
