Repository deckhouse/deckhouse-test-2, pull requests merged in 2025-02, with the labels that each got.

#409 Feat/change e2e engine
  .github/ci_templates/e2e_tests.yml
  .github/workflow_templates/e2e.multi.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing

#410 chore: change 2e2 engine
  .github/ci_templates/e2e_tests.yml
  .github/workflows/e2e-abort-aws.yml
  .github/workflows/e2e-abort-azure.yml
  .github/workflows/e2e-abort-eks.yml
  .github/workflows/e2e-abort-gcp.yml
  .github/workflows/e2e-abort-openstack.yml
  .github/workflows/e2e-abort-static.yml
  .github/workflows/e2e-abort-vcd.yml
  .github/workflows/e2e-abort-vsphere.yml
  .github/workflows/e2e-abort-yandex-cloud.yml
  .github/workflows/e2e-aws.yml
  .github/workflows/e2e-azure.yml
  .github/workflows/e2e-daily.yml
  .github/workflows/e2e-eks.yml
  .github/workflows/e2e-gcp.yml
  .github/workflows/e2e-openstack.yml
  .github/workflows/e2e-static.yml
  .github/workflows/e2e-vcd.yml
  .github/workflows/e2e-vsphere.yml
  .github/workflows/e2e-yandex-cloud.yml
  testing/cloud_layouts/script-commander.sh
Labels: area/testing, e2e/run/yandex-cloud

#413 test
  .github/workflow_templates/rootless-images-scan.yml
  tools/cve/check-non-root.sh
Labels: area/testing, rootless-scan

#418 test
  .github/workflow_templates/rootless-images-scan.yml
  .github/workflows/rootless-images-scan.yml
  tools/cve/check-non-root.sh
Labels: area/testing, security/rootless

#422 test
  .github/workflow_templates/rootless-images-scan.yml
  .github/workflows/rootless-images-scan.yml
Labels: security/rootless

#426 feat: change e2e engine
  .dmtlint.yaml
Labels: e2e/cluster/failed
